@import "bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.card.text-center {
  background-color: (1,1,1,0.3);
}

#allTasksHere {
  margin-top: 200px;
}

#taskForm {
  margin-top: 200px;
}


body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
}

.all_tasks_h1 {
  margin-top: 1em;
  padding-top: 1em;
  text-align: center;
}

#new_task_header {
  font-family: 'Open Sans', sans-serif;
}

#doneButton {
  max-height: 80px;
}

.card.text-center{
  position:absolute;
  top:2em;
  right:2em;
}

h3 {
  font-family: 'Open Sans', sans-serif;
}

#new_task_button {

  margin-top: -50px;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



@keyframes bounce {
  0%, 20%, 60%, 100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);

  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);

  }
}

.card.mb-3:hover {
  animation: bounce 0.7s;
}

#weather-card {
  position: absolute;
  top:2em;
  left:2em;
  font-family: 'Open Sans', sans-serif;
}




