@import "bootstrap";

body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
}

.all_tasks_h1 {
  margin-top: 1em;
  padding-top: 1em;
  text-align: center;
}

.buttons_list {
  position:absolute;
  top:2em;
  right:2em;
}

.buttons_list.logged_email{
}

#new_task_button {
  position:absolute;
  bottom:50%;
  right:2em;
}

/* how transfer element to bottom-right-corner
position:absolute;
bottom:0;
right:0;
*/

