
.div(id="buttonsCard" )
  -if current_user
    .card.text-center{:style => "width: 10rem;"}
      .card-body
        %h5= link_to "Settings", edit_user_registration_path, class: 'btn btn-primary'
        %a= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-primary'

  -else
    .card.text-center{:style => "width: 10rem;"}
      .card-body
        %a= link_to 'Registration', new_user_registration_path, class: 'btn btn-warning'
        %p
        %a= link_to 'Log in', new_user_session_path, class: 'btn btn-success'