
-if current_user
  .card.text-center{:style => "width: 18rem;"}
    .card-body
      %h5= link_to "#{current_user.email}", edit_user_registration_path, class: 'btn btn-primary'
      %p
      %a= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-primary'
      %p
      %a= link_to 'New Task', new_task_path, class: 'btn btn-success'